:host :hover{
	cursor: pointer;
}

.item{
	border-radius: 4px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 12px;
    font-weight: normal;
}

.imageContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.itemImage{
	display: block;
	width: auto;
	height: auto;
}

.itemImage:hover {
    cursor: pointer;
}

.itemInfo{
	display: flex;
	flex-direction: row;
	width: 90%;
}

.itemPrice{
	color: #222740;
}

.spacer{
	flex: 2 0 0;
}

.interestedBuyers{
	display: flex;
	flex-direction: row;
}

.favoriteImage{
	height: 30px;
	width: 30px;
}

.interestedBuyerNumber{
	font-size: 2em;
}